*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: tahoma;
    margin: auto;
    max-width: 370px;
}
.wrap{
    max-width: 390px;
    border: 2px solid #3350b9;
    border-radius: 10px;
    min-height: 100vh;
    justify-content: space-between;
    gap: 50px;
    box-shadow: 5px 5px 20px black;
    text-align: center;
    font-weight: bold;
}
.wrap, .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.wrap h1{
    background: #3350b9;
    color: #fff;
    width: 100%;
    text-emphasis: center;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}
.logo{
    width: 150px;
    margin: auto;
    margin-bottom: 15px;
}
p{
    display: flex;
    background: #3350b9;
    color: #fff;
    box-sizing: content-box;
    width: 338px;
    padding: 15px;
    font-size: medium;
    text-align: center;
    justify-content: center;
}
h2{
    box-sizing: content-box;
    color: #3350b9;
    margin-top: 30px;
    font-size: xx-large;
    margin-bottom: 20px;

}
.rut{
    font-size: xx-large;
    justify-content: center;
}
.wer{
    font-weight: normal;
    margin-bottom: 5px;
}
.box{
    display: flex;
    word-spacing: pre;
    border: 2px solid #3350b9;
    box-sizing: content-box;
    width: 348px;
    padding: 9px;
    justify-content: center;
}
h6{
    font-weight: normal;
    margin-right: 8px;
    margin-left: 15px;
}
h4{
    color: #656363;
    margin-left: 95px;
}
.lama{
    margin-bottom: 50px;
}
.box1, .box2, .box3{
    display: flex;
    word-spacing: pre;
    border: 2px solid #3350b9;
    box-sizing: content-box;
    width: 348px;
    padding: 9px; 
    margin-top: 10px;
    justify-content: center;
}
.box1 h4{
    color: #04ff08;
    margin-left: 11px;
}
.box1 h6{
    font-weight: normal;
    margin-left: 15px;
    justify-content: center;
}
.box2 h4{
    color: #ff0404;
    margin-left: 48px;
    justify-content: center;
}
.box2 h6{
    font-weight: normal;
    margin-left: 15px;
}
.wer{
    font-weight: normal;
    margin-bottom: 5px;
}
.log h1{
    box-sizing: border-box;
    width: 370px;
    height: 80px;
}
