*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
header, .first-section, .second-section, 
.third-section, .fourth-section, footer, 
.header-wrap, .logo-nav, .header-icons, 
nav, .header-icons a, .header-section, 
.fourth-secion-content, .first-secion-content, 
.first-section-header, .second-section-header{
 display:flex;
 align-items: center;
}
.first-section{
    justify-content: center;
    gap: 50px;
}
header, .header-section-content, .first-section, .second-section-header{
    flex-direction: column;
}
header, .header-section-content, .first-section{
    flex-direction: column;
}
.second-section{
    height: 50vh;
}
.fourth-section{
    height: 80vh;
}
header {
    flex-direction: column;
}
.header-wrap, .logo-nav, .header-section, .first-section-header, .second-section-header{
    justify-content: space-between;
}
.first-secion-content{
    justify-content: space-evenly;
}
.header-wrap{
    padding: 10px 0px 10px 0px;
}
.header-section, .header-wrap, .first-secion-content {
    width: 80vw;
}
.logo-nav{
    width: 50%;
}
.logo-nav nav, .header-icons {
    gap: 15px;
}
.logo-nav nav, .header-icons{
    gap: 30px;
}
.header-section-content, .second-section-header, .third-section-content {
    gap: 50px;
    width: 50%;
}
.header-section-content a, .first-section-header a, .second-section-header a, .vqw a{
    align-self: flex-start;
    text-decoration: none;
    font-size: 1.1em;
    background: black;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
}
.first-section-header{
    display:flex;
    align-items: center;
}
.first-section-header h2{
    margin-right: 400px;
}
.first-section-header h5{
    margin-left: 400px;
}
.logo-nav nav a {
 text-decoration: none;
 color:black;
 font-size: 1.1em;
}
.header-section {
    margin: auto;
}
header, .first-section, .third-section {
height: 90vh;
}
footer {
    height: 10vh;
}
header, .third-section, .second-section{
    background-size: cover;
}
header, .third-section {
    background-image: url("../media/gradient.png");
}
.second-section {
    background-image: url("../media/8.png");
    background-position: 50% 65%;
}
.header-section-content h2{
    margin-top: 20px;
}

.header-section-content h5{
    margin-top: 40px;
}

.third-section{
    justify-content: center;
    height: auto;
    margin-left: auto;
}

.third-section-content{
    height: auto;
    margin-left: auto;
}

.third-section-content .card{
    border: 0px;
    margin-top: 10px;
    margin-left: 15px;
}
.third-section-content .cards{
    margin-left: 200px;
    border: 0px;
    margin-top: 10px;
}
.vqw{
    justify-content: center;
    text-align: center; 
}
.vqw h4 { 
 margin-top: 100px;
}
.vqw a{
    height:20px ;
}
.vqw h5{
    margin-top: 40px;
}
nav{
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 1px ;
}
.drop-content{
    display: none;
    position: absolute;
}
.drop:hover .drop-content{
    display: flex;
    background: #fff;
    padding: 5px;
    gap: 10px;
    flex-direction: column;
    border: 1px dashed;
}
footer { 
    background-color: #f2f2f2; 
    padding: 20px; 
    text-align: center; 
} 
footer { 
    background-color: #f2f2f2; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    height: 100px; 
} 
.box{
    display: flex;
    align-items:center;
    gap: 40px;
    margin: auto;
}
.ucon{
display: flex;
flex-direction: column;
justify-content: center;
gap: 25px;
}

.cart{
    display: flex;
    align-items: center; 
    gap: 10px;
}
